
html {
    font-family: 'Sora', sans-serif;
}

body {
    margin: 90vw;
}

header {
    background-color: #20202c;
}

#p1 {
    border-style: solid;
    border-color: black;
    border-width: 2.5px;
}